Repository seno-dev/search-memo-re: changes, and which lefthook commands are due for each by the changed paths.
All: package-json, js, others

package-json:
  run: npx sort-package-json {staged_files} && git add {staged_files}

js:
  run: npx prettier --write {staged_files} && npx eslint --fix {staged_files} && git add {staged_files}

others:
  run: npx prettier --write {staged_files} && git add {staged_files}

基本機能を実装
  app/callback/route.ts
  app/home/page.tsx
  app/layout.tsx
  app/page.tsx
  features/auth/actions.ts
  features/auth/components/profile-menu-container.tsx
  features/auth/components/profile-menu.tsx
  features/auth/cookie.ts
  features/auth/x-api.ts
  features/db.ts
  features/models.ts
  features/search/actions.ts
  features/search/components/queries-container.tsx
  features/search/components/queries.tsx
  features/search/components/query-item.tsx
  features/search/components/search-type-toggle.tsx
  features/search/schema.ts
  icon.png
  lib/env.d.ts
  lib/firebase.server/app.ts
  lib/firebase.server/features/auth.ts
  lib/firebase.server/features/firestore.ts
  lib/firebase.server/utils.ts
  lib/firebase/app.ts
  lib/firebase/constants.ts
  lib/next.ts
  lib/remeda.ts
  next.config.js
  package-lock.json
  package.json
  utils/string.ts
  utils/url.server.ts
  utils/url.ts
Due: package-json, js, others

prepareでlefthook installを実行しない
  package.json
Due: package-json, others

fix PWA
  app/manifest.json
  next.config.js
  package-lock.json
  package.json
Due: package-json, js, others

update icon
  icon.png
Due: none

サインインエラーの表示をコンポーネントに分離
  app/page.tsx
  features/auth/components/sign-in-error.tsx
Due: js

サインイン済みの場合はホームへリダイレクトする
  app/page.tsx
  features/auth/actions.ts
Due: js

QueryItemのスタイルを修正
  features/search/components/query-item.tsx
Due: js

検索ページへの遷移をlocation.hrefに変更
  features/search/components/query-item.tsx
Due: js

件数を表示
  features/search/components/queries.tsx
Due: js

QueryItemをsortableにする
  features/search/components/queries.tsx
  features/search/components/query-item.tsx
  package-lock.json
  package.json
Due: package-json, js, others

操作方法の案内を追加
  features/search/components/queries.tsx
Due: js

actionsとinternalを分離
  app/callback/route.ts
  app/page.tsx
  features/auth/actions.ts
  features/auth/internal.ts
  features/search/actions.ts
  features/search/components/queries-container.tsx
  features/search/internal.ts
Due: js

dynamicIOを有効化
  app/home/page.tsx
  app/layout.tsx
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
Due: package-json, js, others

input, button上ではdndを無効化
  features/search/components/queries.tsx
  utils/dnd.ts
Due: js

use cache
  features/search/actions.ts
  features/search/components/queries.tsx
  features/search/components/query-item.tsx
  features/search/internal.ts
Due: js

fix dnd
  features/search/components/queries.tsx
  features/search/components/query-item.tsx
  utils/dnd.ts
Due: js

regionをhnd1に設定
  vercel.json
Due: others

drag handleを分離
  features/search/components/query-item.tsx
Due: js

.gitignoreからconfigを除外
  .gitignore
  config/theme.ts
Due: js

Github Actionsワークフローを追加
  .github/workflows/preview.yaml
  .github/workflows/production.yaml
Due: none

.gitignoreに__screenshots__を追加
  .gitignore
Due: none

コンポーネントのテストを追加
  features/search/actions.ts
  features/search/components/queries-container.tsx
  features/search/components/queries.test.tsx
  features/search/components/queries.tsx
  features/search/components/query-item.tsx
  features/search/components/search-type-toggle.tsx
  features/search/schema.ts
  package-lock.json
  package.json
  testing/setup.ts
  vitest.config.ts
  vitest.workspace.ts
Due: package-json, js, others

refactor
  app/callback/route.ts
  app/home/page.tsx
  app/layout.tsx
  app/page.tsx
  features/auth/actions.ts
  features/auth/components/profile-menu-container.tsx
  features/auth/cookie.ts
  features/auth/internal.ts
  features/client/auth/profile-menu.container.tsx
  features/client/auth/profile-menu.tsx
  features/client/auth/sign-in-error.tsx
  features/client/search/queries.container.tsx
  features/client/search/queries.test.tsx
  features/client/search/queries.tsx
  features/client/search/query-item.tsx
  features/client/search/search-type-toggle.tsx
  features/search/components/queries-container.tsx
  features/server/_http/actions.ts
  features/server/_http/api.ts
  features/server/_http/auth.ts
  features/server/_http/cookie.ts
  features/server/_http/router.ts
  features/server/external/x-api.ts
  features/server/search/actions.ts
  features/server/search/api.ts
  features/server/search/schema.ts
Due: js

@seno-dev/eslint-config に移行
  eslint.config.js
  package-lock.json
  package.json
Due: package-json, js, others

refactor
  app/callback/route.ts
  app/home/page.tsx
  app/layout.tsx
  app/page.tsx
  features/_http/actions.ts
  features/_http/api.ts
  features/_http/auth.ts
  features/_http/components/profile-menu.container.tsx
  features/_http/components/profile-menu.tsx
  features/_http/components/sign-in-error.container.tsx
  features/_http/components/sign-in-error.tsx
  features/_http/cookie.ts
  features/_http/router.ts
  features/client/search/queries.container.tsx
  features/external/x-api.ts
  features/search/actions.ts
  features/search/api.ts
  features/search/components/queries.container.tsx
  features/search/components/queries.test.tsx
  features/search/components/queries.tsx
  features/search/components/query-item.tsx
  features/search/components/search-type-toggle.tsx
  features/search/schema.ts
Due: js

update eslint config
  eslint.config.js
Due: js

eslint-plugin-import-scopeを導入
  eslint.config.js
  features/_external/x-api.ts
  features/_http/auth.ts
  package-lock.json
  package.json
Due: package-json, js, others

testing/utilsにonlyVisible, closest関数を追加し、testidを使用しないよう変更
  features/search/components/queries.test.tsx
  features/search/components/query-item.tsx
  testing/utils.ts
Due: js

remove SearchTypeToggle component
  features/search/components/search-type-toggle.tsx
Due: js

tsconfigのlibをES2021からES2022に変更
  tsconfig.server.json
Due: others

lib/firebase内を整理
  features/_http/auth.ts
  features/db.ts
  features/search/api.ts
  lib/firebase.server/app.ts
  lib/firebase.server/features/auth.ts
  lib/firebase.server/utils.ts
  lib/firebase/app.ts
  lib/firebase/config.ts
  lib/firebase/constants.ts
  lib/firebase/server/app.ts
  lib/firebase/server/emulator.ts
  lib/firebase/server/id-token.ts
  lib/firebase/server/utils/firestore.ts
Due: js

テストでfirebase emulatorを使用
  .env.test
  .github/workflows/preview.yaml
  .github/workflows/production.yaml
  .gitignore
  eslint.config.js
  features/_http/__mocks__/api.ts
  features/search/actions.ts
  features/search/components/queries.container.test.tsx
  features/search/components/queries.test.tsx
  firebase.json
  lib/env.d.ts
  lib/firebase/constants.ts
  lib/firebase/server/app.ts
  lib/firebase/server/emulator.ts
  package-lock.json
  package.json
  testing/dom.ts
  testing/props.ts
  testing/setup.ts
  utils/url.server.ts
  vitest.config.ts
  vitest.workspace.ts
Due: package-json, js, others

React 19にアップグレード
  package-lock.json
  package.json
  testing/vitest-browser/setup.ts
  vitest.config.ts
Due: package-json, js, others

handleXRedirectでredirect()をrethrowする
  features/_http/api.ts
Due: js

redirectToHomeIfSignedInでverifySessionCookieする
  features/_http/api.ts
Due: js

emulatorの起動・終了時にデータをimport, exportする
  package.json
Due: package-json, others

config/theme.tsをlib/に移動
  components/ui/app-provider.tsx
  lib/theme.ts
  package.json
Due: package-json, js, others

Path conditions:
  package-json: any of: package.json
  js: any of: *.{js,jsx,ts,tsx}
  others: any of: *.{json,css,scss,md}
